@charset "utf-8";
/* CSS Document */

*{box-sizing:border-box;}

@media (max-width:800px)
	
.row, .navbar {
	flex-direction: column;
}

.header {
  padding: 30px;
  text-align: center;
  background: #DBD9D3;
  color: black;
}

.navbar {
  	display: flex;
  	background-color: #7C7B8F;
	}

.navbar a {
  color: #DBD9D3;
  padding: 14px 20px;
  text-decoration: none;
  text-align:center;
}

.navbar a:hover {
  background-color: #DBD9D3;
  color: #7C7B8F ;
}

.row {  
  	display: flex;
  	flex-wrap: wrap;
	}

.side {
  	flex: 30%;
  	background-color: #DBD9D3;
  	padding: 20px;
	}

.main {
  	flex: 70%;
  	background-color: #DBD9D3;
  	padding: 20px;
	}

.fakeimg {
  	background-color: #BCBADB;
  	width: 100%;
 	 padding: 20px;
	}


footer {
	width:100%;
	text-align: center;
	background-color: #7C7B8F
}
