@charset "utf-8";
/* CSS Document */

*{box-sizing:border-box;}

@media (max-width:800px){
	#container {width:90%;
				margin:0 auto;}}
	

.flex-container {
  display: flex;
  background-color: #DBD9D3 ;
	flex-wrap:wrap;
	justify-content: center
}

.flex-container > div {
  	background-color: #BCBADB;
  	color: black;
  	width: 300px;
	heaight:400px;
  	margin: 30px;
  	text-align: center;
  	line-height: 75px;
  	font-size: 30px;
}

.header {
  padding: 30px;
  text-align: center;
  background: #DBD9D3;
  color: black;
}

.navbar {
  	display: flex;
  	background-color: #7C7B8F;
	}

.navbar a {
  color: #DBD9D3;
  padding: 14px 20px;
  text-decoration: none;
  text-align:center;
}

.navbar a:hover {
  background-color: #DBD9D3;
  color: #7C7B8F ;
}

.row {  
  	display: flex;
  	flex-wrap: wrap;
	}

.side {
  	flex: 30%;
  	background-color: #DBD9D3;
  	padding: 20px;
	}

.main {
  	flex: 70%;
  	background-color: #DBD9D3;
  	padding: 20px;
	}

.fakeimg {
  		background-color: #BCBADB;
 	 	padding: 20px;
		align-content: center;
	}


footer {
	width:100%;
	text-align: center;
	background-color: #7C7B8F;
	padding: 14px;
	color:#DBD9D3;
	
}
